<div class="row">
  <div class="col-lg-9 col-md-12">
    <div class="card box box-info">
      <div class="card-body">
        <div class="d-flex justify-content-end m-b-10">
          <mat-form-field class="search-form-field mx-3" floatLabel="never">
            <input matInput #input placeholder="Buscar..." autocomplete="off" />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              *ngIf="true"
              (click)="onSearchClear()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button
            color="primary"
            class="btn btn-outline-info waves-effect waves-light d-none d-sm-inline-flex"
            (click)="onCreate()"
            >
            Crear
            <mat-icon>add</mat-icon>
          </button>
          <!-- <mat-checkbox [(ngModel)]="checked" (click)="showValue()">Mostrar deshabilitados</mat-checkbox> -->
        </div>

        <div class="mat-elevation-z8">
          <mat-table
            [dataSource]="dataSource"
            matSort
            matSortActive="id"
            matSortDirection="asc"
            matSortDisableClear
          >
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button
                  mat-icon-button
                  (click)="onEdit(row)"
                  matTooltip="Editar"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="onDelete(row.id)"
                  matTooltip="Eliminar"
                >
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
              </mat-footer-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-2">

<dynamic-form [fields]="regConfig" (submit)="submit($event)">
</dynamic-form>
</div>
</div>