<mat-form-field>
  <mat-select
    [formControl]="comboCtrl"
    placeholder="Selecciona Profesional"
    required
    [disabled]="disabled"
    #singleSelect
    (selectionChange)="onSelectionChange($event)"
  >
    <mat-option>
      <ngx-mat-select-search
        [formControl]="comboFilterCtrl"
        placeholderLabel="Buscar profesional"
        [noEntriesFoundLabel]="'No hay resultados'"
      ></ngx-mat-select-search>
    </mat-option>
 
    <mat-option *ngFor="let c of filteredData | async" [value]="c.id">
      {{ c.firstname }} {{ c.lastname }}
    </mat-option>
  </mat-select>
  <mat-error>requerido</mat-error>

</mat-form-field>

