<div class="row">
  <div class="col-md-12">
    <div class="card box box-info">
      <div class="card-body">
        <div class="d-flex justify-content-between m-b-10">
          <!-- <app-export-fab [options]="FabOptions" [fields]="fieldsColumns" [filter]="filter" [vertical]="true" [fileName]="fileName"></app-export-fab> -->
          <!-- <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput #input placeholder="Buscar..." autocomplete="off" />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              *ngIf="true"
              (click)="onSearchClear()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field> -->
          <!-- <mat-checkbox [(ngModel)]="checked" (click)="showValue()">Mostrar deshabilitados</mat-checkbox> -->
        </div>


        <div class="mat-elevation-z8">
          <mat-table
            [dataSource]="dataSource"
          >
          <ng-container matColumnDef="Patient">
            <mat-header-cell *matHeaderCellDef>Paciente</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Patient.User.firstname }} {{element.Patient.User.lastname }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Category">
            <mat-header-cell *matHeaderCellDef>Especialidad</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Category.name }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="appointmentDate">
            <mat-header-cell *matHeaderCellDef>Fecha Turno</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.appointmentDate | date: 'dd/MM/yyyy'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="timeDate">
            <mat-header-cell *matHeaderCellDef>Hora Turno</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.appointmentDate | date: 'h:mm a'}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>
                Atendido?
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span
                  class="label label-rounded"
                  [ngClass]="{
                    'label-warning': element.status === 1,
                    'label-success': element.status === 2,
                    'label-info': element.status === 3,
                    'label-danger': element.status === 4
                  }"
                >
                  {{
                    element.status === 1
                      ? 'Pendiente'
                      : element.status === 2
                      ? 'Aceptado'
                      : element.status === 3
                      ? 'Atendido'
                      : element.status === 4
                      ? 'Cancelado'
                      : ''
                  }}
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button
                  mat-icon-button
                  (click)="onEdit(row)"
                  matTooltip="Editar"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="onDelete(row.id)"
                  matTooltip="Eliminar"
                >
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
              </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
              </mat-footer-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>

        </div>
      </div>
    </div>
  </div>
</div>
