<div class="row">
  <div class="col-lg-4">
    <div class="card bg-info text-white">
      <div class="card-body">
        <div class="d-flex">
          <div class="stats">
            <h1 class="text-white">3</h1>
            <h6 class="text-white">Profesionales</h6>
            <button
              class="btn btn-rounded btn-outline btn-light m-t-10 font-14"
            >
              Ver Más
            </button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <i class="fas fa-home display-5 op-3 text-dark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <div class="d-flex">
          <div class="stats">
            <h1 class="text-white">6</h1>
            <h6 class="text-white">Pacientes</h6>
            <button
              class="btn btn-rounded btn-outline btn-light m-t-10 font-14"
            >
              Ver Más
            </button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <i class="fas fa-user-clock display-5 op-3 text-dark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card bg-success text-white">
      <div class="card-body">
        <div class="d-flex">
          <div class="stats">
            <h1 class="text-white">9062+</h1>
            <h6 class="text-white">Turnos Activos</h6>
            <button
              class="btn btn-rounded btn-outline btn-light m-t-10 font-14"
            >
              Ver Más
            </button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <i class="fas fa-user-slash display-5 op-3 text-dark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-danger mb-3" (click)="createPdf()">
      Informe PDF
    </button>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Operaciones x Especialidad</h4>

            <div class="d-table h-100 w-100">
              <div class="d-table-cell align-middle">
                <app-grafico-dona
                  [chartLabels]="graficos.grafico1.labels"
                  [chartData]="graficos.grafico1.data"
                  [chartType]="graficos.grafico1.type"
                ></app-grafico-dona>
                <a href="#" (click)="downloadGraph1($event)">EXPORTAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Turnos x dia de la semana</h4>

            <div class="d-table h-100 w-100">
              <div class="d-table-cell align-middle">
                <div class="col-lg-12 col-xl-12 px-0 py-lg-2 py-2">
                  <app-grafico-barra
                    [maxValue]="graficos.grafico2.maxValue"
                    [barChartLabels]="graficos.grafico2.labels"
                    [barChartData]="graficos.grafico2.data"
                  ></app-grafico-barra>
                  <!-- <app-grafico-barra [maxValue]="graph.recaladas.maxValue" barChartLabels="graph.recaladas.labels" [barChartData]="graph.recaladas.datasets"></app-grafico-barra> -->
                </div>
                <!-- <a href="#" (click)="downloadCanvas($event)">EXPORTAR</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
